<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.phlock.spotify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phlock-spotify</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.phlock.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phlock</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf</string>
		<string>NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf</string>
	</array>
</dict>
</plist>
