<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.phlock.spotify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phlock-spotify</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.phlock.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phlock</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-Bold.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Phlock matches your contacts locally to help you find friends already on Phlock.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Phlock uses the microphone so you can identify music and send it to friends.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Phlock uses Apple Music to let you search, play, and share songs with your friends.</string>
</dict>
</plist>
